[submodule "themes/avicenna"]
	path = themes/avicenna
	url = git@github.com:rbharadwaj9/avicenna.git
[submodule "themes/maverick"]
	path = themes/maverick
	url = git@github.com:rbharadwaj9/maverick.git
